certifi==2021.5.30
charset-normalizer==2.0.2
grpcio==1.38.1
grpcio-tools==1.38.1
idna==3.2
loguru==0.5.3
passlib==1.7.4
peewee==3.14.4
protobuf==3.17.3
PyMySQL==1.0.2
python-consul==1.1.0
requests==2.26.0
six==1.16.0
urllib3==1.26.6
